.curtain-button {
  width: 90%;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background-color: #fe5953;
  color: #fff;
  border-radius: 40px;
  font-size: 30px;
  margin-top: 5%;
}

.curtain-share {
  background-color: #f36411;
}
