@import "@styles/theme.scss";

.brand {
  margin: 10px 0;
  background: $white;
  padding: 0 70px;
  height: 80px;
  line-height: 80px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.brand-item {
  &__desc {
    font-size: 25px;
    margin-left: 10px;
    color: $text-color-light;
  }
}